@if (loading()) {

  <div class="state">

    <div class="state-icon">
      <mat-icon>
        sync
      </mat-icon>
    </div>

    <h2>
      Cargando recurso...
    </h2>

    <p>
      Estamos recuperando la información.
    </p>

  </div>

} @else if (error()) {

  <div class="state">

    <div class="state-icon">
      <mat-icon>
        cloud_off
      </mat-icon>
    </div>

    <h2>
      No fue posible cargar el recurso
    </h2>

    <p>
      Ocurrió un problema al comunicarnos con el servidor.
    </p>

    <a
      routerLink="/"
      class="state-link"
    >
      <mat-icon>
        arrow_back
      </mat-icon>

      Volver a la biblioteca
    </a>

  </div>

} @else if (notFound()) {

  <div class="state">

    <div class="state-icon">
      <mat-icon>
        search_off
      </mat-icon>
    </div>

    <h2>
      Recurso no encontrado
    </h2>

    <p>
      El recurso solicitado no existe o ya no está disponible.
    </p>

    <a
      routerLink="/"
      class="state-link"
    >
      <mat-icon>
        arrow_back
      </mat-icon>

      Volver a la biblioteca
    </a>

  </div>

} @else if (resource(); as currentResource) {

  <article class="resource-detail">

    <a
      routerLink="/"
      class="back"
    >

      <mat-icon>
        arrow_back
      </mat-icon>

      Biblioteca

    </a>


    <div class="preview">

      @if (currentResource.image) {

        <img
          [src]="currentResource.image"
          [alt]="currentResource.title"
        />

      } @else {

        <mat-icon>
          language
        </mat-icon>

      }

    </div>


    <div class="content">

      <div class="type">
        {{ currentResource.type }}
      </div>


      <h1>
        {{ currentResource.title }}
      </h1>


      <p class="description">
        {{ currentResource.description }}
      </p>


      @if (
        getTags(currentResource).length > 0
      ) {

        <div class="tags">

          @for (
            tag of getTags(currentResource);
            track tag
          ) {

            <span>
              #{{ tag }}
            </span>

          }

        </div>

      }


      @if (
        getTechnologies(currentResource).length > 0
      ) {

        <section>

          <h2>
            Tecnologías
          </h2>

          <div class="technology-list">

            @for (
              technology of getTechnologies(currentResource);
              track technology
            ) {

              <span>
                {{ technology }}
              </span>

            }

          </div>

        </section>

      }


      @if (currentResource.notes) {

        <section>

          <h2>
            Mis notas
          </h2>

          <div class="notes">
            {{ currentResource.notes }}
          </div>

        </section>

      }


      @if (currentResource.url) {

        <a
          mat-flat-button
          class="visit"
          [href]="currentResource.url"
          target="_blank"
          rel="noopener noreferrer"
        >

          Visitar recurso

          <mat-icon>
            open_in_new
          </mat-icon>

        </a>

      }

    </div>

  </article>

}